#main_admin {
    width:75%;
    height:405px;
    background-color:white;
    margin:auto;
    margin-top:20px;
    border:black 5px groove;
    box-shadow: 3px 3px 3px black inset;

}

ul#main_name{
    display:flex;
    margin-block-start:0;
    margin-block-end:0;
    border-top:1px solid black;
    border-bottom:1px solid black;
}

ul#main_user{
    display:flex;
    margin-block-start:0;
    margin-block-end:0;
}

ul#main_name li, ul#main_user li {
    padding-right:20px;
    list-style-type: none;
    border-right:1px solid black;
    border-left:1px solid black;
    width:20%;
}

#list_user{
    width:100%;
}